/.metadata/
/.recommenders/
Homework/src/Assistant/Asistente/.classpath
Homework/src/Assistant/Asistente/.project
Homework/src/Assistant/Asistente/Calls.java
Homework/src/Assistant/Asistente/Notifications.java
Homework/src/Assistant/Asistente/Assistant.java
Homework/src/Assistant/Asistente/Tasks.java
Homework/src/Assistant/Asistente/User.java
Homework/src/Assistant/Calls.java
Homework/src/Assistant/Notifications.java
Homework/src/Assistant/Tasks.java
Homework/src/Assistant/User.java
Homework/src/Assistant/.project
Homework/src/Assistant/.classpath
